{
  "env": {
      "browser": true,
      "es6": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 2018
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
      "defaultAssignment": false,
      "linebreak-style": ["error", "windows"],
      "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".js"] }],
      "arrow-body-style": ["error", "as-needed"],
      "react/forbid-prop-types": [0, { "forbid": ["any", "array", "object"], "checkContextTypes": false, "checkChildContextTypes": false }],
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
  }
}