.slide {
  flex: 0 0 100%;
  max-width: 100%;
  height: 100%;
  line-height: 0;

  div {
    font-size: 1em;
    line-height: 1;

    &.empty__slide{
      box-sizing: content-box;
      width: 100%;
      height: 30em;
      background-color: #cddac1;
      border-right: 1px solid black;
    }   
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 30em;
  }

  iframe {
    width: 100%;
    height: 30em;
  }

  video {
    width: 100%;
    height: 30em;
  }
}