.slider__btn {
  position: absolute;
  top: 48%;
  width: 2em;
  margin: 0 1.5em;
  font-size: inherit;
  fill: white;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.prev {
    left: 2rem;
  }

  &.next {
    right: 2rem;
  }

  &:focus {
    outline: none;
  }

  &:-moz-focus-inner {
    border: 0;
  }
}
