.slider {
  &__navigation {
  position: absolute;
  bottom: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;

  &_button {
    height: 1rem;
    width: 1rem;
    margin: 0 .3rem;
    padding: 0 .5rem;
    background: #fff;
    opacity: .5;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .button_selected {
    opacity: 1;
    }
  }
}