body {
  background-color: gray;

  ul, li, button {
    padding: 0;
  }
}

.container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;

  .carousel {

    &__slides {
      display: flex;
      transition: transform 0.1s ease;
    }

    &__slide {
      flex: 0 0 100%;
      max-width: 100%;

      img {
        object-fit: cover;
        width: 100%;
        height: 300px;
      }
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  .btn__left, .btn__right {
      display: none;
  }
}