@font-face {
  font-family: "Lato";
  src: url('/assets/fonts/Lato-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: "Lato";
  src: url('/assets/fonts/Lato-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url('/assets/fonts/Lato-Light.ttf');
  font-weight: 300;
}

body {
  font-size: 10px;
  font-family: "Lato";
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #fefefe;
  color: #555555;

  :before, :after {
    box-sizing: inherit;
}

  html, body, div, iframe,
  h1, h2, h3, h4, h5, h6, p, a, 
  img, ol, ul, li, table,
  tbody, tfoot, thead, tr, th, td,
  footer, header, 
  hgroup, nav, output, section, audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }

  .wrapper {
    max-width: 1020px;
    margin: auto;
    padding: 2rem 5%;
  }

  h3 {
    font-size: 1.6rem;
  }
  
  p {
    font-size: 1.2rem;
  }

  ul, p, h3 {
    padding-bottom: 1rem;
  }

  header {
    .titles {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-bottom: 10px solid #78a56f;
    }

    .titles_icon {
      width: 40px;
      color: #515151;
    }

    h1 {
      font-size: 2.3rem;
      font-weight: 700;
    }

    ul {
    padding-bottom: 1rem;
    padding-left: 2rem;


      li {
        font-size: 1.2rem;
        font-weight: 400;
        padding-bottom: .5rem;
      }
    }
  }

  .table-props {
    border-collapse: collapse;
    display: table;
    width: 100%;
    margin-bottom: 2rem;

    .table-props__header {
      background-color: #78a56f;
      color: #ffffff;
    }

    .props-name_bold {
      font-weight: 600;
      letter-spacing: 1.5;
    }
    
    tr {
      width: 100%;

      td {
        font-size: 1rem;
        border: 1px solid #dee0e2;
        padding: 16px;
      }
    }
  }

  .container__example {
    padding-bottom: 3rem;

    h2 {
      font-size: 2rem;
      border-bottom: 10px solid #78a56f;
      margin-bottom: 1rem;
    }

    .example{

      &__props-list ul {
        padding-left: 2rem;

        li {
          padding-bottom: .5rem;
        }
      }

      &__code{
      padding-top: 1rem;
      }
    }
  }

  .slider__container {


    &_example{
      padding: 2rem;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  .btn__left, .btn__right {
      display: none;
  }
}